<h1>Order #<%= @order.id %> Created</h1>
<h2>Bought by: <%= @order.user.name  %></h2>

<% @order.carted_shoes.each do |carted_shoe| %>
<h2>Product: <%= carted_shoe.shoe.name %> - <%= carted_shoe.quantity %> x <%= number_to_currency(carted_shoe.shoe.price)%></h2>
<% end %>

<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>Total: <%= number_to_currency(@order.total) %></h2>



