<h1>Order #<%= @order.id %> Created</h1>
<h2>Bought by: <%= @order.user.name  %></h2>
<h2>Product: <%= @order.shoe.name  %></h2>
<h2>Quantity: <%= @order.quantity  %></h2>
<h2>Price: <%= number_to_currency(@order.shoe.price)  %></h2>
<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>Total: <%= number_to_currency(@order.total) %></h2>



