<h1>Shoe Info</h1>
<h2>Name: <%= @shoe.name %> </h2>
<h2>Color Way: <%= @shoe.color %> </h2>
<h2 class="<%= "red-price" if @shoe.discounted? %>" >Price: <%= number_to_currency(@shoe.price) %> </h2> 
<h2>Tax: <%= number_to_currency(@shoe.tax) %></h2>
<h2>Total: <%= number_to_currency(@shoe.total) %></h2>
<% if @shoe.discounted?  %>
  <h2> Discount Item! </h2>
<% else %>
  <h2> Everyday Value! </h2>
<% end %>
<% @shoe.images.each do |image| %>
  <img class="resize" src="<%= image.url%>" alt="<%= @shoe.name %>">  
<% end %>
<div class="checkoutbox">
  <%= form_tag '/carted_shoes', method: :post do %>
    <h2>Checkout</h2>
    <h3>Quantity: <input type="text" name="quantity"></h3>
    <input type="hidden" name="shoe_id" value="<%= @shoe.id %>"></h3>
    <input type="hidden" name="status" value="Carted"></h3>
    <input type="submit" value="Add to Cart">
  <% end %>
</div>

<div class="show-shoe">
<%= link_to "Edit Shoe", "/shoes/#{ @shoe.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Shoe", "/shoes/#{ @shoe.id }", method: :delete, class: "btn btn-danger" %>
</div>


<h5>Categories</h5>
  <ul>
    <% @shoe.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
  </ul>
<h6>Supplier: <%= @shoe.supplier.name %></h6>








