<!DOCTYPE html>
<html>
  <head>
    <title>Shoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="headers">
    <h1><a href="/">Shoe Shop</a></h1>
    <p><a href="/shoes/new">New Shoe</a></p>
    </div>

    <div class="container">
    <% flash.each do |name,message| %>    
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>    

    <%= yield %>

 
  </body>
</html>
